<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-commerce</title>
    </head>

    <body>
        <div class="container" th:fragment="items">
            <!-- homepage/shows all items -->
            <br><div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4" th:each="item : ${items}">
                    <div class="card h-100">
                        <img src="${item.image}" class="card-img-top" alt="photo of a mask">
                        <div class="card-body text-center">
                            <h5 th:text="${item.title}" class="card-title"></h5>
                            <p th:text="${item.description}" class="card-text"></p>
                            <p class="card-text">Price: $[[${item.price}]]</p>
                            <p class="card-text">In Stock: [[${item.quantity}]]</p>
                            <a th:href="@{/items/{id}(id=${item.id})}" class="btn btn-dark">View</a>
                            <a th:href="@{/user/cart/add/{id}(id=${item.id})}" th:if="${item.quantity} > 0" class="btn btn-dark">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
