<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>E-commerce</title>
    </head>

    <body>
        <div class="container-fluid" th:fragment="items">
            <div class="row row-cols-1 row-cols-md-3 justify-content-center">
                <div class="col mb-4" th:each="item : ${items}">
                    <div class="card h-100">
                        <img src="${item.image}" class="card-img-top" alt="photo of a mask">
                        <div class="card-body text-center">
                            <h5 th:text="${item.title}" class="card-title"></h5>
                            <p th:text="${item.description}" class="card-text">Description: </p>
                            <p class="card-text">Price: $[[${item.price}]]</p>
                            <a href="#" class="btn btn-dark">View</a>
                            <a href="#" class="btn btn-dark">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
