<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="/fragments/header :: header"></div>
        <title>E-commerce</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>

        <div class="container-sm">
            <!-- user: add their shipping address -->
            <h1>Please provide your shipping address and the name this item is for</h1>
            <form action="#" th:action="@{/user/cart/address}" th:object="${address}" method="post">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">

                        <label for="street">Street Address:</label>
                        <input type="text" class="form-control" id="street" th:field="*{street}">

                        <label for="city">City:</label>
                        <input type="text" class="form-control" id="city" th:field="*{city}">

                        <label for="state">State:</label>
                        <input type="text" class="form-control" id="state" th:field="*{state}">

                        <label for="zip">Zip Code:</label>
                        <input type="number" class="form-control" id="zip" th:field="*{zip}">

                        <button type="submit" class="btn btn-dark">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>