<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="/fragments/header :: header"></div>
        <title>E-commerce</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>

        <div class="container-fluid">
            <img th:src="@{/img/admin.png}" class="img-fluid" alt="admin">

            <div class="row m-1 justify-content-center text-center">
                <div class="col-md-10">
                    <h1 class="display-4 font-weight-light text-secondary mb-3">Hello, [[${admin.firstName}]]!</h1>

                    <h1 class="display-4 font-weight-light text-secondary m-2">Items</h1>

                    <a th:href="@{/admin/items/create}" class="btn text-uppercase text-light box1 m-1">Add New Item</a>

                    <table class="table table-responsive-sm">
                        <thead class="box1 text-light text-uppercase">
                        <tr>
                            <th class="align-middle" scope="col">Title</th>
                            <th class="align-middle" scope="col">Quantity</th>
                            <th class="align-middle" scope="col">Price</th>
                            <th class="align-middle" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-secondary border border-light">
                        <tr th:each="item : ${item}">
                            <td><a th:href="@{/items/{id}(id=${item.id})}" th:text="${item.title}" class="font-weight-bold text-uppercase text-secondary"></a></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${item.price}"></td>
                            <td>
                                <a th:href="@{/admin/items/edit/{id}(id=${item.id})}" class="btn text-uppercase text-light my-1 box1">Edit</a>
                                <a th:href="@{/admin/items/delete/{id}(id=${item.id})}" class="btn text-uppercase text-light box1">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row m-1 justify-content-center text-center">
                <div class="col-md-10">
                    <h1 class="display-4 font-weight-light text-secondary m-2">Users</h1>
                    <table class="table table-responsive-sm">
                        <thead class="box1 text-light text-uppercase">
                        <tr>
                            <th class="align-middle" scope="col">User ID</th>
                            <th class="align-middle" scope="col">First Name</th>
                            <th class="align-middle" scope="col">Last Name</th>
                            <th class="align-middle" scope="col">Email Address</th>
                            <th class="align-middle" scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-secondary border border-light">
                        <tr th:each="user : ${users}">
                            <th scope="row" th:text="${user.id}"></th>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td><a th:href="@{/admin/user/info/{id}(id=${user.id})}" class="btn my-1 text-uppercase text-light box1">View</a>
                                <a th:href="@{/admin/user/delete/{id}(id=${user.id})}" class="btn my-1 text-uppercase text-light box1">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>