<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
        <div th:replace="/fragments/header :: header"></div>
        <title>Mask With ove</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>
        <div class="container-fluid">
            <img th:src="@{/img/add.png}" class="img-fluid" alt="add">

            <!-- create item form -->
            <div class="row m-1 justify-content-center text-center">
                <div class="col-md-5">
                    <form action="#" th:action="@{/admin/items/create}" th:object="${item}" method="post" enctype="multipart/form-data">
                        <!-- create item error messages -->
                        <div th:if="${#fields.hasErrors('title')}"
                             th:errors="*{title}"
                             class="validation-message alert alert-secondary text-center text-uppercase" role="alert">
                        </div>

                        <div th:if="${#fields.hasErrors('quantity')}"
                             th:errors="*{quantity}"
                             class="validation-message alert alert-secondary text-center text-uppercase" role="alert">
                        </div>

                        <div th:if="${#fields.hasErrors('description')}"
                             th:errors="*{description}"
                             class="validation-message alert alert-secondary text-center text-uppercase" role="alert">
                        </div>

                        <div th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}"
                             class="validation-message alert alert-secondary text-center text-uppercase" role="alert">
                        </div>

                        <div class="form-row justify-content-center text-center">
                            <div class="form-group">
                                <input type="text" class="form-control my-3 text-secondary" th:field="*{title}"
                                       th:placeholder="Title">

                                <input type="number" class="form-control my-3 text-secondary" th:field="*{quantity}"
                                       th:placeholder="Quantity">

                                <input type="text" class="form-control my-3 text-secondary" th:field="*{description}"
                                       th:placeholder="Description">

                                <input type="number" class="form-control my-3 text-secondary" th:field="*{price}"
                                       th:placeholder="Price">

                                <input type="file" class="form-control my-3"  name="imageFile">

                                <button type="submit" class="btn box1 font-weight-light text-uppercase
                                text-secondary m-1">Add an Item</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>