<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="/fragments/header :: header"></div>
        <title>Mask With Love</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>
        <div class="container-fluid">
            <img th:src="@{/img/woods.jpg}" class="img-fluid" alt="photo of trees">

            <div class="row m-1 justify-content-center text-center">
                <div class="col-md-10">
                    <h1 class="display-4 font-weight-light text-dark mb-5">Hello, [[${user.firstName}]]!</h1>
                    <h1 class="display-4 font-weight-light text-dark m-2">Order History</h1>

                    <!-- user's order history -->
                    <table class="table table-responsive-sm">
                        <thead class="bg-dark text-white text-uppercase">
                        <tr>
                            <th class="align-middle" scope="col">Order Id</th>
                            <th class="align-middle" scope="col">Date Purchased</th>
                            <th class="align-middle" scope="col">Status</th>
                            <th class="align-middle" scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-dark border border-light">
                        <tr th:each="order : ${user.orders}">
                            <th scope="row" th:text="${order.id}"></th>
                            <td th:text="${#dates.format(order.createdAt, 'MM-dd-yyyy')}"></td>
                            <td><div th:text="${order.status}"></div>
                                <div th:text="${#dates.format(order.updatedAt, 'MM-dd-yyyy')}"></div>
                            </td>
                            <td><a th:href="@{/user/order/{id}(id=${order.id})}" class="btn text-uppercase
                                text-white bg-dark">View</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- user's reviews -->
                    <h1 class="display-4 font-weight-light text-dark m-2">Reviews</h1>

                    <table class="table table-responsive-sm">
                        <thead class="bg-dark text-white text-uppercase">
                        <tr>
                            <th class="align-middle" scope="col">Item Title</th>
                            <th class="align-middle" scope="col">Your Comment</th>
                            <th class="align-middle" scope="col">Your Rating</th>
                            <th class="align-middle" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-dark border border-light">
                        <tr th:each="review : ${user.reviews}">
                            <th scope="row" th:text="${review.item.title}"></th>
                            <td th:text="${review.comment}"></td>
                            <td th:text="${review.rating}"></td>
                            <td><a th:href="@{/items/{id}(id=${review.item.id})}"
                                   class="btn my-1 text-uppercase text-white bg-dark">View</a>
                                <a th:href="@{/user/review/delete/{id}(id=${review.id})}"
                                   class="btn my-1 text-uppercase text-white bg-dark">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>