<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="/fragments/header :: header"></div>
        <title>E-commerce</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>

        <div class="container-sm">
            <h1>Welcome, [[${user.firstName}]]!</h1>

            <br><h5>Your Order History</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${user.orders}">
                    <th scope="row" th:text="${order.id}"></th>
                    <td th:text="${order.total}"></td>
                    <td th:text="${order.createdAt}"></td>
                    <td><a th:href="@{/user/order/{id}(id=${order.id})}" class="btn btn-dark">View</a></td>
                </tr>
                </tbody>
            </table>

            <br><h5>Your Reviews</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item Title</th>
                    <th scope="col">Your Comment</th>
                    <th scope="col">Your Rating</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review : ${user.reviews}">
                    <th scope="row" th:text="${review.item.title}"></th>
                    <td th:text="${review.comment}"></td>
                    <td th:text="${review.rating}"></td>
                    <td><a th:href="@{/items/{id}(id=${review.item.id})}" class="btn btn-dark">View</a>
                        <a th:href="@{/user/review/delete/{id}(id=${review.id})}" class="btn btn-dark">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>