<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <div th:replace="/fragments/header :: header"/>
        <title>E-commerce</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"/>

        <div class="container">
            <div th:replace="/fragments/items :: items"/>


            <!--            <div th:each="item : ${items}">-->
<!--                <div class="panel-heading">-->
<!--                    <h1 th:text="${item.title}"></h1>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div th:replace="/fragments/footer :: footer"/>
    </body>
</html>