<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <div th:replace="/fragments/header :: header"></div>
        <title>E-commerce</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>

        <div class="container-fluid">
            <div class="row m-1">
                <div class="col-md m-1 box1">
                    <img th:src="@{/img/login.png}" class="img-fluid mt-2" alt="login">

                    <!-- login form -->
                    <p th:if="${logoutMessage}" class="validation-message alert alert-light text-center text-uppercase" role="alert"
                       th:text="${logoutMessage}"></p>

                    <p th:if="${errorMessage}" class="validation-message alert alert-light text-center text-uppercase" role="alert"
                       th:text="${errorMessage}"></p>

                    <form th:action="@{/login}" method="post">
                        <div class="form-row justify-content-center text-center">
                            <div class="form-group col-md-7">
                                <input type="email" class="form-control my-3 text-secondary text-uppercase" name="username" placeholder="Email">

                                <input type="password" class="form-control my-3 text-secondary text-uppercase" name="password" placeholder="password">

                                <button type="submit" class="btn btn btn-light font-weight-light text-uppercase text-secondary m-1">Login</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="bg-light col-md m-1 text-center">
                    <img th:src="@{/img/mask_photo6.png}" th:width="700" class="img-fluid p-2" alt="photo of text">
                </div>
            </div>
        </div>

        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>