<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="/fragments/header :: header"></div>
        <title>Mask With Love</title>
    </head>

    <body>
        <div th:replace="/fragments/header :: navbar"></div>
        <div class="container-fluid">
            <img th:src="@{/img/road.jpg}" class="img-fluid mb-2" alt="photo of masks">

            <div class="row m-1">
                <div class="col-md m-1 text-center bg-light">
                    <!-- item photo -->
                    <div th:each="photo : ${item.photos}">
                        <img th:src="@{'/images/' + ${photo.fileName}}" width="700" class="img-fluid p-2" alt="Photo of a mask"/>
                        <!-- admin: delete photo button only appears if photo is present -->
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/admin/photo/delete/{id}(id=${photo.id})}" class="btn text-uppercase box1
                            font-weight-light text-secondary">Remove Photo</a>
                        </div>
                    </div>

                    <!-- admin: edit/delete item -->
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="my-1">
                        <a th:href="@{/admin/items/edit/{id}(id=${item.id})}" class="btn text-uppercase box1
                        font-weight-light text-secondary">Edit</a>
                        <a th:href="@{/admin/items/delete/{id}(id=${item.id})}" class="btn text-uppercase box1
                        font-weight-light text-secondary">Delete Item</a><br>
                        <span class="text-secondary">* Please remove this photo before updating it</span><br>
                        <span class="text-secondary">* Please remove all reviews and photo before deleting this item</span>
                    </div>
                </div>

                <!-- user: add item to cart button -->
                <div class="col-md box1 m-1 text-secondary text-uppercase text-center">
                    <h1 class="display-3">[[${item.title}]]</h1>
                    <h1 class="font-weight-light">[[${item.description}]]</h1>
                    <h1 class="font-weight-light">In Stock: [[${item.quantity}]]</h1>
                    <h1 class="font-weight-light">Price: $[[${item.price}]]</h1>
                    <a th:href="@{/cart/add/{id}(id=${item.id})}" th:if="${item.quantity} > 0" class="btn mb-2
                    btn-light font-weight-light text-uppercase text-secondary">Add to Cart</a>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div class="row m-1 justify-content-center">
                    <!-- user: leave a review -->
                    <div class="col-md-6 p-1 m-1 text-center border border-light">

                        <p th:if="${errorMessage}" class="validation-message alert box1 text-center text-secondary
                        text-uppercase" role="alert" th:text="${errorMessage}"></p>

                        <form action="#" th:action="@{/user/items/review/{id}(id=${item.id})}" th:object="${review}" method="post">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="form-group text-secondary text-uppercase">
                                            <label>Your Review:</label>
                                            <textarea name="comment" class="form-control" rows="4" th:field="*{comment}" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col text-center">
                                        <div class="form-group text-secondary text-uppercase">
                                            <label for="rating">Your Rating:</label>
                                            <select th:field="*{rating}" class="form-control" id="rating">
                                                <option th:value="5" th:text="5" class="text-center"></option>
                                                <option th:value="4" th:text="4"></option>
                                                <option th:value="3" th:text="3"></option>
                                                <option th:value="2" th:text="2"></option>
                                                <option th:value="1" th:text="1"></option>
                                                <option th:value="0" th:text="0"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input type="submit" class="btn box1 font-weight-light text-uppercase
                                        text-secondary m-1" value="Leave a Review">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- all item reviews and ratings-->
            <div class="row m-1 mt-2 justify-content-center" th:each="review : ${item.reviews}">
                <div class="col-md-6 m-2">
                    <div class="card border border-light">
                        <div class="card-header font-weight-light text-secondary" th:text="${review.rating}"></div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="font-weight-light text-secondary" th:text="${review.comment}"></p>
                                <footer class="blockquote-footer font-weight-light" th:text="${review.user.getFirstName()}"></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <!-- admin: delete review -->
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="mt-3">
                    <a th:href="@{/admin/review/delete/{id}(id=${review.id})}" class="btn text-uppercase
                    box1 font-weight-light text-secondary">Delete</a>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/footer :: footer"></div>
    </body>
</html>